.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    align-items: center;
}

.text {
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-dark);
    line-height: 1.1;
}